<main class="flex column center hero">
    <!-- <img class="logo" src="/logo.svg"> -->
    <!-- <h1 id="logotype">Ghouligan</h1> -->
    <header id="logotype">

        <script>
        var text = new Blotter.Text("GHOULIGAN", {
                family : "'Chango', sans-serif",
                size : 30,
                fill : "#FFFF33"
            });

            var material = new Blotter.LiquidDistortMaterial();

            var blotter = new Blotter(material, { texts : text });

            var logo = document.getElementById("logotype");
            var scope = blotter.forText(text);

            scope.appendTo(logo);
        </script>

    </header>
    <section class="flex column center description">
        <p>Ghouligan is a DJ from Los Angeles, CA currently based in Louisville, KY. Her past performances have included Forecastle Festival, Kentuckiana Pride Festival, Lexington Pride Festival, and the Neon Inferno Festival along with notable performances for some of the region's most notorious parties and events. She is represented by <a href="https://www.spinstersunion.com">The Spinsters Union of Louisville.</a></p>
        <p>Expect a lot of global bass, baile funk, moombahton, dutch house, future beats, booty bass, and others still yet to be categorized</p>
        
        <iframe width="100%" height="130" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/678920958&color=%23d4cfcd&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=false"></iframe>
        
        <div class="flex social">
            <a href="https://soundcloud.com/ghouligan"><i class="fab fa-soundcloud fa-lg"></i></a>
            <a href="https://www.facebook.com/ghouliganmusic/"><i class="fab fa-facebook-f fa-lg"></i></a>
            <a href="mailto:info@ghouligan.com"><i class="fas fa-envelope fa-lg"></i></i></a>
        </div>
    </section>
</main>