@font-face {
    font-family: 'BleachRight';
    src: url('/BleachRight.eot?#iefix') format('embedded-opentype'),  url('/BleachRight.otf')  format('opentype'),
           url('/BleachRight.woff') format('woff'), url('/BleachRight.ttf')  format('truetype'), url('/BleachRight.svg#BleachRight') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  