.hero {
    background-color: #222;
    background-image: url('/gridmelt.png');
    background-size: cover;
    background-position: center;
    padding: 2em;
}

.description {
    padding: 0 2em;
    color: pink;
    text-align: center;

    p {
        max-width: 600px;
    }
}

.logo {
    @include rainbow;
    width: 350px;
    height: 100px;
    margin-bottom: 1em;
    background: linear-gradient(124deg, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #ff2400, #e81d1d);
	background-size: 2000% 2000%;
    -webkit-animation: rainbow 80s ease infinite;
	-z-animation: rainbow 80s ease infinite;
	-o-animation: rainbow 80s ease infinite;
  	animation: rainbow 80s ease infinite;
    -webkit-mask: url('/logo.svg') no-repeat center;
    mask: url('/logo.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;

}

@include rainbow-keyframes;

iframe {
    margin: 1em 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.social {
    margin: 2em 0 3em 0;
    width: 100%;
    max-width: 400px;
    align-items: center;
    justify-content: space-around;
    

    i {
        color: #FFFF68;
        transition: all .1s ease-in;
    }

    i:hover {
        color: paleturquoise;
    }
}

@media screen and (min-width: 768px){
    .logo {
        width: 45vw;
        max-width: 500px;
    }
}