@mixin rainbow {
    background: linear-gradient(90deg,pink, #FFFF68, paleturquoise , palegreen,);
	background-size: 1000% 1000%;
    -webkit-animation: rainbow 25s ease-in-out infinite;
	-z-animation: rainbow 25s ease-in-out infinite;
	-o-animation: rainbow 25s ease-in-out infinite;
  	animation: rainbow 25s ease-in-out infinite;
}

@mixin rainbow-keyframes {
    @-webkit-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @keyframes rainbow { 
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
}